TOKEN = 
BOT_NAME = ''

GIT_TOKEN = 
REPO_PATH = 
NUMBER_OF_PR=''

CHANNEL_DEV_ID=''
CHANNEL_CL_ID=''
GUILD_ID=''
PUBLIC_CL_DS_ROLE=''

EMAIL_SUBJECT=''
EMAIL_OF_BOT=''
EMAIL_OF_RECIEVER=''
EMAIL_PASSWORD=

LOCALIZATION = 

CHANGELOG_POINT= ''
ABOUTE_POINT= ''
WHY_POINT= ''